<mat-list class="container">
    
        <button class="margin-left" mat-flat-button color="primary" (click)="openNastDialog('add')">Novi nastavnik</button>   
    <mat-list-item *ngFor="let nastavnik of nastavnici">
        <mat-icon mat-list-icon>
            assignment_ind
        </mat-icon>
        <h4 mat-line>{{nastavnik.ime}} {{nastavnik.prezime}}</h4>
        <p mat-line>{{nastavnik.zvanje}}</p>

        <span class="example-spacer"></span>
    
        <button mat-icon-button color="primary">
            <mat-icon aria-label="Example icon-button with a heart icon" (click)="openNastDialog('edit',nastavnik)">edit
            </mat-icon>
        </button>
        <button mat-icon-button color="primary">
            <mat-icon aria-label="Example icon-button with a heart icon" (click)="deleteNastavnik(nastavnik)">delete
            </mat-icon>
        </button>
    </mat-list-item>
</mat-list>
