<mat-list class="container">
    <button *ngIf="role!='ucenik'" mat-flat-button color="primary" (click)="openDialog('add')">Nova
        obaveza</button>
    <mat-list-item *ngFor="let polozen of polaganje">
        <mat-icon mat-list-icon>
            account_circle
        </mat-icon>
        <h4 mat-line>{{polozen.imePrezime}}</h4>
        <h4 mat-line>{{polozen.polozenPredmet == true ? "Polozen" : "Nije Polozen"}}</h4>
        <h4 mat-line>  {{polozen.datumPolaganja | date: 'medium'}}</h4>
        <span class="example-spacer"></span>
        <button mat-icon-button color="primary">
            <mat-icon *ngIf="role=='administrator'" (click)="deleteObaveza(polaganje)" aria-label="Example icon-button with a heart icon">delete
            </mat-icon>
        </button>
        <button  mat-icon-button color="primary">
            <mat-icon *ngIf="role=='administrator'" (click)="polozenPredmet(polozen.id)" aria-label="Example icon-button with a heart icon">
                check</mat-icon>
        </button>
    </mat-list-item>
</mat-list>
<br>

