<html>

                      
<h2>Predmeti</h2>
<mat-list class="container">

       
        <mat-list-item *ngFor="let predmet of  predmeti">
                        <mat-icon mat-list-icon>
                                        library_books
                        </mat-icon>
                        <h4 mat-line>{{predmet.naziv}}</h4>
                        <p mat-line>{{predmet.opis}}</p>
                        </mat-list-item>
                        </mat-list>
        
 
                        </html>